{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Book Details</title>           
</head>
<body>
    <form action="/about" method="POST">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sidebar">
        <a href="{% url 'aboutlib2' type='Novel' %}" class="nav-link">Novel</a>
        <a href="{% url 'aboutlib2' type='Textbook' %}" class="nav-link">Textbook</a>
        <a href="{% url 'aboutlib2' type='storybook' %}" class="nav-link">StoryBook</a>
        <a href="{% url 'aboutlib2' type='historyfantasy' %}" class="nav-link">History Fantasy</a>
        <a href="{% url 'aboutlib2' type='Others' %}" class="nav-link">Others</a>
        <a href="/backtolibrary" class="nav-link">Back</a>
      </div>
      <div class="col-md-10 content">
        <div class="profile-heading" style="font-size:40px;text-align:center;font-weight:bold;">
          Book Details
        </div>
        <div class="profile-section">
          <div class="row">
            {% for a in books %}
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="card">
                <img class="card-img-top img-fluid" src="{{ a.bookimg.url }}" alt="Image">
                <div class="card-body">
                  <p><b>Name: </b>{{ a.bookname }}</p>
                  <p><b>Author: </b>{{ a.author }}</p>
                  <p><b>Total_Copies: </b>{{ a.total_copies }}</p>
                  <p><b>Publication: </b>{{ a.publication }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Include Bootstrap JS (optional) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</form>
</body>
</html>
