<!DOCTYPE html>
<html>
<head>
    <title>Book Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#search-input').on('input', function() {
                var query = $(this).val();
                if (query.length >= 1) {
                    $.ajax({
                        url: '/autocomplete/',
                        data: {
                            'q': query
                        },
                        success: function(data) {
                            var autocompleteList = $('#autocomplete-list');
                            autocompleteList.empty();
                            if (data.length > 0) {
                                data.forEach(function(item) {
                                    var listItem = $('<li></li>').text(item);
                                    autocompleteList.append(listItem);
                                });
                            } else {
                                var listItem = $('<li class="text-muted"></li>').text('No results found.');
                                autocompleteList.append(listItem);
                            }
                            autocompleteList.show();
                        }
                    });
                } else {
                    $('#autocomplete-list').hide();
                }
            });

            // Trigger search when selecting an item from autocomplete list
            $('#autocomplete-list').on('click', 'li', function() {
                var selectedItem = $(this).text();
                $('#search-input').val(selectedItem);
                $('#search-results').empty();
                $('#autocomplete-list').hide();
                searchBooks(selectedItem);
            });
            // Search books based on input
            function searchBooks(query) {
                $.ajax({
                    url: '/search/',
                    data: {
                        'q': query
                    },
                    success: function(data) {
                        var searchResults = $('#search-results');
                        searchResults.empty();
                        if (data.length > 0) {
                            data.forEach(function(book) {
                                var bookInfo = '<div class="book-profile">' +
                                    '<h4>' + book.bookname + '</h4>' +
                                    '<p>ID: ' + book.bookid + '</p>' +
                                    '<p>Author: ' + book.author + '</p>' +
                                    '<p>Borrower: ' + book.borrower + '</p>' +
                                    '<form action="/myview" method="POST">' +
                                    '{% csrf_token %}' +
                                    '<input type="hidden" name="bookid" value="' + book.bookid + '">' +
                                    '<p class="card-text"><b>Issue to: </b><input type="text" name="borrower" value="' + book.borrower + '" required></p>' +
                                    '<button type="submit" class="btn btn-primary mr-2" name="btn" value="issue">Issue</button>' +
                                    '<button type="submit" class="btn btn-secondary" name="btn" value="return">Return</button>' +
                                    '</form>' +
                                    '</div>';
                                searchResults.append(bookInfo);
                            });
                        } else {
                            searchResults.html('<p>No results found.</p>');
                        }
                    }
                });
            }
        });
    </script>
    <style>
        .autocomplete {
            position: relative;
        }

        #autocomplete-list {
            position: absolute;
            z-index: 1000;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Book Search</h1>
        <div class="autocomplete">
            <input type="text" id="search-input" class="form-control" placeholder="Search for books...">
            <ul id="autocomplete-list" class="list-group"></ul>
        </div><br><br><br>
        <div id="search-results"></div>
    </div>
</body>
</html>
